<header class="header">
  <h1>Inventory App</h1>
  <nav class="header-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/catogories">Categories</a></li>
    </ul>
    <form action="/games/search" method="get">
      <input type="search" name="search" id="search" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
  </nav>
</header>
